.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1rem;
    background-color: var(--gray-500);
    border-radius: 5px;
    margin-top: 2rem;
    .task{
        width: 90%;
        word-wrap: break-word;
        p{
            color: var(--gray-200);
        }
    }
    button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .delete{
        color: var(--danger);
    }
    .check{
        color: var(--blue);
    }
    
}
.container + .container {
    margin-top: 1rem;
}